<div class="widget">
    <h2>{{ title }}</h2>

    {{#error}}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <ul>
                <li>{{ message }}</li>
            </ul>
        </div>
    {{/error}}
    {{^error}}

    {{/error}}

    <form action="{{ action }}" method="{{ method }}">
        <div class="form-group">
            <label for="widget-name"><strong>{{ name }}: </strong>(<span class="text-danger">*</span>)</label>
            <input class="form-control" type="text" placeholder="{{ placeholderforname }}" id="widget-name" name="name"
                   required>
        </div>

        <div class="form-group">
            <label for="widget-email"><strong>{{ email }}: </strong>(<span class="text-danger">*</span>)</label>
            <input class="form-control" type="email" placeholder="{{ placeholderforemail }}" id="widget-email"
                   name="email" required>
        </div>

        <div class="form-group">
            <label for="widget-phone"><strong>{{ phone }}: </strong>(<span class="text-danger">*</span>)</label>
            <input class="form-control" type="text" placeholder="{{ placeholderforphone }}" id="widget-phone"
                   name="phone" required>
        </div>

        <div>
            (<span class="text-danger">*</span>): <span class="text-danger">{{ require }}</span>
        </div>

        <div style="text-align: right;">
            <button class="btn btn-primary">
                <i class="glyphicon glyphicon-save"></i>
                {{ submit }}
            </button>
        </div>
    </form>
</div>
{{#js}}
    require(['jquery'], function($) {
        $(document).ready(function() {
        });
    });
{{/js}}